body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	background: #f4f7f8;
	border-radius: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#form > input {
border: none;
border-radius: 4px;
font-size: 15px;
margin: 0;
/* font-weight:bold; */

	/* outline: 0; */
	padding: 10px;
	width: 100%;
	/* box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;  */
	background-color: #e8eeef;
	color:#8a97a0;
	/* -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset; */
	/* box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset; */
	margin-bottom: 30px;
}

.desc {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

select {
  background: rgba(255,255,255, 0.1);

}

#gender, #diet-container {
display: flex;
margin-bottom: 10px;
font-size: 1.2em;
flex-direction: column;
}

#diet-desc,
input[type=radio] {
margin-bottom: 10px
}

#select-location {
  display: block;
  font-size: 0.8em;
}

#location {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}
label.diet {
  font-size: 16px;
  margin-bottom: 10px;
}
button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	/* background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%); */
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
  font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  /* text-shadow:0px 1px 0px #ffffff; */
  background-color: #e8eeef;
  color:#8a97a0;
  margin: 0 auto;
  display: block;
}
button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
button:active {
	position:relative;
	top:1px;
}

#gender-container label {
  display: block;
}